<form action="/new" accept-charset="UTF-8" methode=POST data-turbo=false>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>

    <label for="uname">Username:</label>
    <input type="text" id="uname" name="uname"><br><br>

    <label for="pw">Password:</label>
    <input type="password" id="pw" name="pw"><br><br>

    <input type="submit" value="Submit">




</form>